<!--{% if messages %}-->
<!--    <ul class="messages">-->
<!--        {% for message in messages %}-->
<!--            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
<!--{% endif %}-->

{% if product.promotion %}
    {% if product.promotion.is_active %}
        <p>Une promotion est d&jà active pour ce projet</p>
    {% else %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Ajouter une promotion</button>
        </form>
    {% endif %}
{% else %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Ajouter une promotion</button>
    </form>
{% endif %}
