{% extends 'mercadona/base.html' %}
{% load static %}
{% block title %}Liste des produits{% endblock %}

{% block content %}
  <h1 class="text-center my-4">Liste des offres</h1>
  <div class="container">
    <div class="row">


      <div class="aside col-md-2">
          <h4>Filtrer par catégories</h4>
          <form id="filter-form" method="get">
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary">Filtrer</button>
          </form>
      </div>


      <div class="col-md-10">
        <div id="product-list">
            {% include 'offers/product_list_partial.html' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/filter.js' %}"></script>
{% endblock %}